*{
    box-sizing:border-box;
}
div{
    background-color: black;
    color:white;
    overflow:hidden;
}
a{
    padding: 20px 20px;
    text-align: center;
    display:block;
    float:left;
}
a:visited{
    color:red;
}
a:hover{
    background-color: lightgray;
    color: black;
}
@media screen and (max-width:600px){
    a{
        float:none;
        
    }
}